/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.btn{
	-fx-background-color:  #5F2A77;
}
.btn:hover{
	-fx-cursor: hand;
	-fx-background-color:  #fff;
	-fx-text-fill: #8024A9;
}
.btn:pressed{
	-fx-background-color:  #fff;
	-fx-text-fill: #8024A9;
}
.form-btn{
	-fx-cursor: hand;
}
#preview-btn:pressed{
	-fx-background-color: #24994E;
}
#save-btn:pressed{
	-fx-background-color: #24994E;
}
#new-data-btn:pressed{
	-fx-background-color: #1F4985;
}